<button class="links">
    {{#link-to "new-contact" class="menu-new-contact"}} Add Contact {{/link-to}}
</button>
<div class="listing">
    <h3>Bill Sacks</h3>
    <div class="detail phone">
        <span>Phone:</span> 
        <a href="tel:213.555.1212">(213) 555-1212</a>
    </div>

    <div class="detail email">
        <span>Email:</span> 
        <a href="bill@sacksagency.com">bill@sacksagency.com</a>
    </div>
</div>
{{#each model as |contactListing|}}
  {{contact-listing contact=contactListing}}
{{/each}}